.App {
    text-align: center;
}
.App-link {
    color: #61dafb;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.item {
    border: 1px solid #6dee5c;
}
