.App {
    text-align: center;
}
.closeButton {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 12px;
    right: 16px;
    color: black;
}
.priceFilter {
    display: flex;
    flex-direction: row;
}

.App-link {
    color: #61dafb;
}
.search {
    width: 100%;
    position: center;
    display: flex;
}

.NoItemsFoundMessage {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.filterButton {
    position: right;
    display: flex;
}
.wrap {
    width: 30%;
    position: flex;
    top: 50%;
    left: 100%;
}
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(299px, 299px));
    grid-gap: 20px;
    padding: 20px;
    width: 100%;
}
.searchBar {
    width: 300px;
    border: 2px solid #00b4cc;
    border-radius: 5px;
    box-shadow: none !important;
}

.item {
    border: 1px solid #6dee5c;
    max-width: 250px;
}
.itemInspect {
    cursor: pointer;
}

.side-shadow {
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.2),
        -12px 0 8px -4px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.ez-bg {
    background-image: url(https://i.ibb.co/5xctNYH/ezbg.png);
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.h-20 {
    height: 20%;
}

.h-80 {
    height: 80%;
}
