.App {
    text-align: center;
}

.priceFilter {
    display: flex;
    flex-direction: row;
}

.App-link {
    color: #61dafb;
}
.search {
    width: 100%;
    position: center;
    display: flex;
}
.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 17px;
}
.wrap {
    width: 30%;
    position: flex;
    top: 50%;
    left: 100%;
}
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
.searchBar {
    width: 300px;
    border: 2px solid #00b4cc;
    border-radius: 5px 0px 0px 5px;
    box-shadow: none !important;
}

.item {
    border: 1px solid #6dee5c;
}

.side-shadow {
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.2),
        -12px 0 8px -4px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.ez-bg {
    background-image: url(https://i.ibb.co/5xctNYH/ezbg.png);
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.h-20 {
    height: 20%;
}

.h-80 {
    height: 80%;
}
